<header>
  <div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        Ever Ponce
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="nav-links">
      <a href="#" target="_blank">About</a>
      <a href="#" target="_blank">Projects</a>
      <a href="#" target="_blank">Blog</a>
    </div>
  </div>
</header>
